<h2 id = 'detailName'>{{detail.username}}</h2>
<div id = 'joined'>Joined site on: {{detail.created_at}}</div>
<br>
<br>
<div id = 'userContentWrap'>
  {{#each listing}}
  <div class = 'userCard'>
    <div class = 'detailPostDate'>{{created_at}}</div>
    <a href="/gallery/{{id}}">
      <img src="{{link}}" alt="" class = 'detailImage'>
    </a>
  </div>
  {{/each}}
</div>